.usa-button,
.apl-button {
appearance: none;
border-radius: 3px;
cursor: pointer;
display: inline-block;
font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 8px;
margin-right: 8px;
margin-top: 10px;
padding-bottom: 9.6px;
padding-left: 12.8px;
padding-right: 12.8px;
padding-top: 9.6px;
text-align: center;
}

.outline,
.usa-button-outline,
.apl-button-outline,
.secondary,
.usa-button-secondary,
.apl-button-secondary,
.all,
.usa-button.all,
.apl-button.all {
	background-color: #ffffff;
	border: 1px solid #0071bc;
	color: #0071bc;
    text-decoration:none;
}
.outline:hover,
.usa-button.outline:hover,
.apl-button.outline:hover,
.secondary:hover,
.usa-button.secondary:hover,
.apl-button.secondary:hover,
.all:hover,
.usa-button.all:hover,
.apl-button.all:hover {
	color: #0071bc;
    text-decoration: underline;
}
.usa-button.usa-button-primary,
.apl-button.primary,
.apl-button.apl-button-primary {
	background-color: #0071bc;
    color: white;
}
.adult, .children, .teen {
        text-decoration: none;
}
.adult:hover, .children:hover, .teen:hover {
        text-decoration: underline;
}
.adult {
    background-color: rgb(125, 193, 66);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.children {
background-color: rgb(150, 150, 201);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.teen {
    background-color: rgb(0, 154, 190);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}