#block-claro2-content {
	width: 580px;
}
.exhibit-time,
.exhibit-location {
	font-weight: normal;
	font-size: 16px;
	position: relative;
}
.exhibit-time-and-location {
	float: left;
	width: 400px;
}
.about-exhibit,
.image-credit,
.about-artist {
	font-size: 18px;
}
.exhibit-time span,
.exhibit-location span {
	position: absolute;
	top: 3px;
	padding-left: 3px;
    z-index: 98;
}
html .path-events .region.region-content {
	margin: 0 auto;
}
.view-exhibits-b .views-row {
	clear: both;
}
.apl-exhibit.apl-card {
	min-height: 153px;
}
.apl-sidebar {
	width: 330px;
}
#block-views-block-navigation-block-31-2 {
  float: left;
}
.apl-sidebar,
#apl-events-sidebar {
    padding: 1px 15px;
	background: white;
	box-shadow: 3px 3px 8px silver;
	margin-bottom: 20px;
	margin-right: 15px !important;
	margin-top: 0;
	padding-bottom: 10px;
}
.column-2.flat,
.apl-sidebar.flat,
#apl-events-sidebar.flat {
	box-shadow: none;
	margin-bottom: none;
}
.apl-sidebar a {
    text-decoration: none;
}
.apl-sidebar.blog,
.apl-sidebar.flat {
    box-shadow: none;
}
.apl-sidebar a:hover,
.apl-sidebar a.active {
    text-decoration: underline;
}

.apl-sidebar ul {
	padding: 0;
	margin: 0;
}

.apl-sidebar li {
	list-style: none;
}
.apl-sidebar li a {
	text-decoration: none;
}
.apl-sidebar li a:hover,
.apl-sidebar li a.active {
	text-decoration: underline;
}

.apl-sidebar .apl-event {
    padding: 0;
}
.datetime, .apl-loc {
	position: relative !important;
	margin: -30px 0 10px 30px !important;
	display: block;
}
.apl-sidebar .apl-event .field-title {
	font-weight: normal;
	margin-bottom: 10px !important;
}
.exhibit-title a {
	text-decoration: none;
	color: black;
}
.apl-exhibit h3 {
	margin: 0;
}
.column-2.apl-cards {
	background: none;
	box-shadow: none;
	padding-bottom: 0;
}
.apl-exhibit.apl-card {
	margin-bottom: 15px;
}

.exhibit-copy {
	background: white;
	padding: 5px 10px;
}
.exhibit-title {
    margin: 0 0 5px 0;
}
.apl-exhibit h3.exhibit-artist {
	margin: 0 0 10px 0;
}
.apl-exhibit.apl-card img {
	float: left;
	margin-right: 15px;
	object-fit: cover;
	width: 153px;
	height: 153px;
}
.individual a.more {
    display: none;
}
.apl-details {
    display: none;
    text-align: left;
    margin-top: 15px;
}
.more.active .apl-details,
.individual .apl-details,
.apl-details.active {
    display: block !important;
}
.more {
	text-align: left;
	z-index: 99;
	position: relative;
	clear: left;
}