.exhibit-title a {
	text-decoration: none;
	color: black;
}
.apl-exhibit h3 {
	margin: 0;
}
.column-2.cards {
	background: none;
	box-shadow: none;
	padding-bottom: 0;
}
.apl-exhibit.card {
	margin-bottom: 15px;
}

.exhibit-copy {
	width: 580px;
	background: white;
	padding: 5px 10px;
}
.exhibit-title {
    margin: 0 0 20px 0;
}
.apl-exhibit.card img {
	width: 250px;
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.individual a.more {
    display: none;
}
.details {
    display: none;
    text-align: left;
    margin-top: 15px;
}
.individual .details,
.details.active {
    display: block !important;
}
.more {
	text-align: right;
}