#apl-exhibits-nav {
	padding: 0;
}

#apl-exhibits-sidebar li {
	list-style: none;
}
#apl-exhibits-sidebar li a {
	text-decoration: none;
}
#apl-exhibits-sidebar li a:hover,
#apl-exhibits-sidebar li a.active {
	text-decoration: none;
}