.exhibit-title a {
	text-decoration: none;
	color: black;
}
.exhibit_copy {
	padding: 0 15px;
}
#footer > div,
#apl-content {
    margin: 0 auto;
    max-width: 930px;
}
.exhibit-copy {
	width: 580px;
	background: white;
	padding: 15px;
	margin-top: -6px;
}
.exhibit-title {
    margin: 0 0 20px 0;
}