.column-1,
#column-1 {
	width: 360px;
	float: left;
    border: 1px solid green;
}
.column-2,
#column-2 {
    float: left;
}
#footer > div,
#apl-content {
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
}