.apl-sidebar {
	width: 330px;
    float: left;
}

.apl-sidebar,
#apl-events-sidebar {
    padding: 1px 15px;
	background: white;
	box-shadow: 3px 3px 8px silver;
	margin-bottom: 20px;
	margin-right: 15px !important;
	margin-top: 0;
	padding-bottom: 30px;
}
.apl-sidebar a {
    text-decoration: none;
}
.apl-sidebar.blog,
.apl-sidebar.flat {
    box-shadow: none;
}
.apl-sidebar a:hover,
.apl-sidebar a.active {
    text-decoration: underline;
}

.apl-sidebar ul {
	padding: 0;
}

.apl-sidebar li {
	list-style: none;
}
.apl-sidebar li a {
	text-decoration: none;
}
.apl-sidebar li a:hover,
.apl-sidebar li a.active {
	text-decoration: underline;
}